.jumbotron {
    color: blue;
    text-align: center;
    margin: auto;
    background-color: bisque;
    font-size: 5rem;

}
@media screen and (min-width: 320px){
    .jumbotron {
        color: whitesmoke;
        text-align: center;
        margin: auto;
        background-color: rgb(65, 49, 31);
        font-size: 2rem;
    }
    #title {
        color: darkblue;
        margin-left: 2%;
        text-align: center;
        padding: 6px;
    }
}
@media screen and (min-width: 768px) {
    .jumbotron {
        color: rgb(235, 235, 247);
        text-align: center;
        margin: auto;
        background-color: rgb(51, 31, 6);
        font-size: 5rem;
    }
    #title {
        color: darkblue;
        margin-left: 2%;
        text-align: center;
        padding: 6px;
    }

}
@media screen and (min-width: 1023.99px) {
    .jumbotron {
        color: rgb(248, 230, 196);
        text-align: center;
        margin: auto;
        background-color: rgb(75, 49, 17);
        font-size: 5rem;
    }
    #title {
        color: darkblue;
        margin-left: 2%;
        text-align: center;
        padding: 6px;
    }
}
#title {
    color: darkblue;
    margin-left: 2%;
    text-align: center;
    padding: 6px;
}
body {
    margin: 2%;
    background-color: linen;
    
}
.intro {
    font-size: 21px;
    line-height: 1rem;
    padding: 1%;
}
#how {
    color: darkblue;
    text-align: center;
}

.description {
    line-height: 1rem;
    font-size: 21px;
    padding: 2%;
}

#form {
    color: darkred;
    font-size: 26px;
    margin-left: 4rem;
    padding: 2%;
    font: 2em sans-serif;
    text-align: center;
    font-weight: 400;
}
.input {
    background-color: darkgrey ;
}
.container {
    background-color: rgb(75, 49, 17);
    padding: 2%;
    color: white;
    font-size: 1.5rem;
}
.footer{
    text-align: center;
    color: rgb(70, 22, 22);
    padding-top: 2rem;
}
.text{
    font-size: 28px;
}
